In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in the part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lata,PT,2022-04-24 23:15:37,40.1629,-8.3327,52.07,95,76,1.14
1,1,Victoria,HK,2022-04-24 23:09:43,22.2855,114.1577,81.32,86,12,8.01
2,2,Punta Arenas,CL,2022-04-24 23:08:22,-53.1500,-70.9167,41.11,93,100,6.91
3,3,Albany,US,2022-04-24 23:08:44,42.6001,-73.9662,66.72,33,49,4.00
4,4,Saskylakh,RU,2022-04-24 23:09:25,71.9167,114.0833,0.70,100,96,1.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Victoria,HK,2022-04-24 23:09:43,22.2855,114.1577,81.32,86,12,8.01
6,6,Laguna De Perlas,NI,2022-04-24 23:15:38,12.3429,-83.6712,81.68,72,5,7.78
7,7,Wajir,KE,2022-04-24 23:15:38,1.7471,40.0573,80.60,66,63,9.44
15,15,Atuona,PF,2022-04-24 23:09:32,-9.8000,-139.0333,79.39,74,15,17.69
18,18,Arlit,NE,2022-04-24 23:15:41,18.7369,7.3853,86.29,11,1,7.67
21,21,Basco,PH,2022-04-24 23:15:42,20.4487,121.9702,81.81,83,11,18.25
22,22,Savannah Bight,HN,2022-04-24 23:15:42,16.4500,-85.8500,81.77,74,0,18.01
24,24,Vila Velha,BR,2022-04-24 23:15:43,-20.3297,-40.2925,78.75,83,40,10.36
29,29,Kharsawan,IN,2022-04-24 23:15:45,22.8000,85.8333,83.73,17,24,3.62
34,34,Micheweni,TZ,2022-04-24 23:15:46,-4.9667,39.8333,78.69,85,92,5.10

In [31]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1           Victoria      HK     81.32  22.2855  114.1577
6   Laguna De Perlas      NI     81.68  12.3429  -83.6712
7              Wajir      KE     80.60   1.7471   40.0573
15            Atuona      PF     79.39  -9.8000 -139.0333
18             Arlit      NE     86.29  18.7369    7.3853
21             Basco      PH     81.81  20.4487  121.9702
22    Savannah Bight      HN     81.77  16.4500  -85.8500
24        Vila Velha      BR     78.75 -20.3297  -40.2925
29         Kharsawan      IN     83.73  22.8000   85.8333
34         Micheweni      TZ     78.69  -4.9667   39.8333

In [33]:
# Set parameters to search for a hotel.
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'
    
    # Use the search term: 'lodging' and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Victoria,HK,81.32,22.2855,114.1577,Mini Hotel Central
6,Laguna De Perlas,NI,81.68,12.3429,-83.6712,Hotel Best View
7,Wajir,KE,80.60,1.7471,40.0573,Al-bustan Hotel And Restaurant.
15,Atuona,PF,79.39,-9.8000,-139.0333,Villa Enata
18,Arlit,NE,86.29,18.7369,7.3853,Case de Passage De la Prefecture
21,Basco,PH,81.81,20.4487,121.9702,Nathaniel's Lodge
22,Savannah Bight,HN,81.77,16.4500,-85.8500,Villa on Dunbar Rock
24,Vila Velha,BR,78.75,-20.3297,-40.2925,Hotel Vitória Palace
29,Kharsawan,IN,83.73,22.8000,85.8333,Pardhandih(Dabra)
34,Micheweni,TZ,78.69,-4.9667,39.8333,

In [42]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]